@use "./mixins" as *;
@use "./font" as *;

.footer{
    background-color: #323232; 
    color: white;
    padding: 1rem;
    @include tablet{
        padding: 1rem 2rem;
    }
    @include desktop{
        padding: 0 6rem;
    }
    
    .flex__container--top{
        display: flex;
        align-items: center;
        .flex__container--top-left{
            @include tablet{
                display: flex;
                justify-content:space-between;
                align-items: center;
                gap: 2rem;
            }
            @include desktop{
                display: flex;
                justify-content:flex-start;
                align-items: center;
                gap: 3rem;
            }
            .footer__title{
                font-size: 2rem;
                font-weight: 500;
                @include tablet{
                    font-size: 2.25rem;
                    font-weight: 500;
                    padding-left: 2rem;
                }
            }
            .footer__icons{
                display: flex;
                justify-content: flex-start;
                gap: 2rem;
                .footer__icon{
                    width: 1.5rem;
                    height: 1.5rem;
                }
                @include tablet{
                    padding-right: 1rem;
                }
            }
        }
        .flex__container--top-right{
            display: flex;
            justify-content: flex-end;
            padding-right: 2rem;
            @include tablet{
                width: 50%;
            }
            .hide{
                @include mobile{
                    display: none;
                }
            }
        }
    }

    .flex__container--middle{
        @include tablet{
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 5rem;
            width: 100%;
        }

        @include desktop{
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 5rem;
            width: 100%;
        }
        .flex__item{
            font-size: .8125rem;
            line-height: 1.125rem;
            font-weight: 400;
            @include tablet{
                width: 30%; 
            }
            @include tablet{
                width: 30%; 
            }
        }

        .flex-item-first{
            @include tablet{
                padding-left: 2rem;
            }
        }
        .flex-item-second{
            @include tablet{
                padding-right: 2rem;
            }
        }

        .footer__contact{
            font-weight: 600;
        }
        .footer__address{
            font-weight: 400;
        }
        .footer__email{
            font-weight: 400;
            a{
                text-decoration: none;
                color: white;
            }
        }
        .footer__copyright{
            font-weight: 400;
        }
    }


    .flex__container--bottom{
        padding-top: 2rem;
        padding-bottom: 1rem;
        @include tablet{
            padding-left: 2rem;
        }
        @include desktop{
            padding-bottom: 2rem;
        }
        .hide{
            @include tablet{
                display: none;
            }
            @include desktop{
                display: none;
            }   
        }
    }
}

