@use "./mixins" as *;
@use "./font" as *;

.gallery{
    @include tablet{
        padding: 0 2rem;
    }
    @include desktop{
        padding: 0 6rem;
    }
    &__title{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        text-transform: capitalize;
        @include tablet{
            padding-left: 2rem;
            font-size: 2.25rem;
        }
        @include desktop{
            padding-left: 1rem;
        }
    }
    &__container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
        @include tablet{
            padding-left: 2rem;
            padding-bottom: 2rem;
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 1.5rem;
        } 
        @include desktop{
            padding-bottom: 2rem;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 1.5rem;
        }
    
    }
    &__img{
        width:100%;
        height: auto;
        @include tablet{
            width: 31%;
        }
        @include desktop{
            width: 31%;
        }
    }
}