@use "./mixins" as *;
@use "./font" as *;
@use "./variables" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: $primary-background-color;
  font-family: "AvenirNextLTPro", "Courier New", monospace;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }

  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }

  &__logo {
    width: 7.5rem;
    height: 1.25rem;
    margin: 1rem;
    @include tablet{
      margin: 0rem;
    }
    @include desktop {
      padding-left: 2rem;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    @include tablet {
      padding-left: $tablet-padding-left;
    }
    @include desktop {
      padding-left: $desktop-padding-left;
    }
  }

  .navbar__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    @include tablet {
      gap: 3rem;
      font-size: $tablet-fontsize;
      padding-top: $tablet-padding-top;
    }
    @include desktop {
      gap: 3rem;
      font-size: $desktop-fontsize;
      padding-top: $desktop-padding-top;
    }
    a{
      text-decoration: none;
      color: white;
    }
    &--item {
      width: 50%;
      text-align: center;
      text-transform: capitalize;
      color: #afafaf;
      padding-bottom: 1rem;
      font-weight: 400;
      &:hover{
        border-bottom: 0.25rem solid white;
        
        color: #AFAFAF;
      }

      @include desktop {
        font-size: 0.75rem;
      }
    }
    .active {
      border-bottom: 0.25rem solid white;
      color: white;
      font-weight: 600;
      @include desktop {
        border-bottom: 0.125rem solid white;
      }
    }
    .inactive{
      color: #E1E1E1;
    }
  }
}
