@use "./mixins" as *;
@use "./font" as *;

.header{
    display: flex;
    flex-direction: column;
    background-color: #323232;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight:700;
    color: white;
    font-family: 'AvenirNextLTPro';
    // height: 1.25rem;
    // width: 7.5rem;

    @include tablet{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
    }

    @include desktop{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
    }
}
.header__logo{
    width: 7.5rem;
    height: 1.25rem;
    margin: 1rem;
}
.header__title{
    display: flex;
    justify-content: center;
    @include tablet{
        padding-left: 3rem;
    }
    @include desktop{
        padding-left: 3rem;
    }
}

.navbar__list{
    display:flex;
    list-style: none;
    padding: 0;
    margin: 0;

    @include tablet{
        gap: 3rem;
        font-size: 1rem;
        padding-top: 1rem;
    }
    @include desktop{
        gap: 3rem;
    }
}

.navbar__item{
    width:50%;
    text-align: center;
    text-transform: capitalize;
    color: #AFAFAF;
    padding-bottom: 1rem;
    font-weight: 400;
    
    @mixin tablet{
        padding-top: 1rem;
    }

}

.active{
    border-bottom: 4px solid white;
    color: white;
}
