@use "./mixins" as *;
@use "./variables" as *;

.shows {
	padding: 1rem;
	@include tablet{
		padding: 3rem;
	}
}

.showTitle {
	font-size: 2rem;
	font-weight: 700;
}

.shows__container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	@include tablet {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.show__container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 0.5rem;
	border-bottom: 0.125rem solid $mercury;
	padding: 1rem 0;

	&:hover {
		background-color: #fafafa;
	}
	@include tablet {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;
		&:hover {
			background-color: #fafafa;
		}
	}

	&--date {
		display: flex;
		flex-direction: column;
		font-weight: 600;
		font-size: $mobile-font-size;
		@include tablet{
			font-size: 1rem;
			font-weight:700;
		}
		.show__container--dateLabel {
			font-weight: 500;
			font-size: 1.25rem;
			color: $silver;
			padding: 1rem 0;
			text-transform: capitalize;
		}
	}
	&--venue {
		display: flex;
		flex-direction: column;
		font-size: $mobile-font-size;
		.show__container--venueLabel {
			font-weight: 500;
			font-size: 1.25rem;
			color: $silver;
			padding: 1rem 0;
			text-transform: capitalize;
		}
		@include tablet{
			font-size: 1rem;
			font-weight:600;
		}
	}
	&--location {
		display: flex;
		flex-direction: column;
		font-size: $mobile-font-size;
		padding-bottom: 1rem;
		.show__container--locationLabel {
			font-weight: 500;
			font-size: 1.25rem;
			color: $silver;
			padding: 1rem 0;
			text-transform: capitalize;
		
		}
		@include tablet{
			padding: 0;
			font-size: 1rem;
			font-weight:600;
		}
	}
	
}

.selected {
	background-color: $mercury;
}

.btn {
	width: 100%;
	height: 4rem;
	background-color:  #323232;
	border-radius: .3125rem;
	color: white;
	font-size: $mobile-font-size;
	@include tablet {
		width: 25%;
		height: 2.5rem;
		font-size: 1rem;
	}
}

.hide {
	@include tablet {
		display: none;
	}
}
