@use "./mixins" as *;

.shows{
    padding: 1rem;
}

.shows__container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4rem;
    @include tablet{
        display: flex;
        flex-direction: column;
    }
}

.show__container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.shows__container--date{
    font-weight: 600;
}

.btn{
    width: 100%;
    height: 4rem;
    background-color: #000000;
    border-radius: 10px ;
    color: white;
    @include tablet{
        width: 25%;
        height: 40px;
        
    }
}