$mobile-screen: 767px;
$tablet-screen: 768px;
$desktop-screen: 1280px;

$primary-background-color: #323232;
$tablet-padding-left: 3rem;
$desktop-padding-left: 3rem;
$tablet-padding-top: 1rem;
$desktop-padding-top: 1rem;
$mobile-font-size: 1.5rem;
$tablet-fontsize: 1rem;
$desktop-fontsize: 1rem;
$tablet-header-fontsize: 2.25rem;
$desktop-header-fontsize: 3.75rem;
$mercury: #e1e1e1;
$silver: #afafaf;
