@use "./partials/resets";
@use "./partials/header.scss";
@use "./partials/footer";
@use "./partials/font" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/shows" as *;

.hero {
	background-image: url(../../assets/images/hero-bio.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	background-color: #323232;
	height: 40vh;
	@include desktop {
		height: 50vh;
	}
	&__title {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: white;
		padding-left: 1rem;
		text-transform: capitalize;
		font-size: 1.5rem;
		font-weight: 500;
		@include tablet {
			padding: 0 2rem;
			font-size: $tablet-header-fontsize;
		}
		@include desktop {
			padding-left: 6rem;
			font-size: $desktop-header-fontsize;
		}
	}
	.overlay {
		width: 100%;
		height: 40vh;
		background-color: rgba(50, 50, 50, 0.5);
		margin: 0;
		@include desktop {
			width: 100%;
			height: 50vh;
			background-color: rgba(50, 50, 50, 0.5);
			margin: 0;
		}
	}
}

.hero-shows {
	background-image: url(../../assets/images/Photo-gallery-3.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	background-color: #323232;
	height: 55vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	@include tablet{
		height: 70vh;
	}
	@include desktop {
		height: 60vh;
	}
	&__subtitle {
		color: white;
		padding-top: 1rem;
		padding-left: 1rem;
		font-weight: 500;
		@include tablet {
			padding-left: 3rem;
			font-size: 1.5rem;
			font-weight: 600;
		}
	}
	&__title {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		color: white;
		padding-left: 1rem;
		font-size: 2rem;
		font-weight: 600;
		@include tablet {
			padding: 0 3rem;
			font-size: 3.5rem;
			margin: 0;
			
		}
		@include desktop {
			padding-left: 6rem;
			font-size: $desktop-header-fontsize;
		}	
	}

	.responsiveiframe{
		padding: 0 1rem;
		@include tablet{
			padding-top: 3rem;
			padding-left: 3rem;
			width: 60%;
		}
	}
	
	.overlay {
		background-color: rgba(50, 50, 50, 0.5);

		@include tablet{
			width: 100%;
			
			background-color: rgba(50, 50, 50, 0.5);
			margin: 0;
		}
	}
	
}

.section {
	@include tablet {
		padding: 0 2rem;
	}
	@include desktop {
		padding: 0 6rem;
	}
	&__title {
		font-size: $mobile-font-size;
		line-height: 2rem;
		font-weight: 600;
		@include tablet {
			font-size: $tablet-header-fontsize;
		}
	}
	&__img {
		width: 100%;
		background-size: cover;
		@include tablet {
			padding: 0 2rem;
		}
		@include desktop {
			padding: 0 3.5rem;
			height: 50%;
		}
	}
	&__quote {
		font-size: 0.875rem;
		line-height: 2rem;
		font-weight: 600;
		@include tablet {
			padding: 0 2rem;
		}
		@include desktop {
			padding: 0 3.5rem;
			font-size: $desktop-fontsize;
			color: $bandsite-black;
			font-weight: 600;
		}
	}
	&__vocalist {
		font-weight: 500;
		@include tablet {
			padding: 0 2rem;
		}
		@include desktop {
			padding: 0 3.5rem;
			color: $bandsite-black;
			font-weight: 600;
		}
	}
	&__subheader {
		font-size: 0.875rem;
		font-family: "AvenirNextLTPro", "Courier New", monospace;
		font-weight: 500;
		text-transform: capitalize;
		@include tablet {
			padding-top: 1.5rem;
			padding: 0 2rem;
			font-size: 1.5rem;
		}
		@include desktop {
			padding: 0 3.5rem;
		}
	}
	&__paragraphs {
		line-height: 1.375rem;
		@include tablet {
			display: flex;
			justify-content: space-evenly;
			gap: 1rem;
			line-height: 1.75rem;
			padding: 0 2rem;
			font-size: 0.875rem;
			line-height: 1.375rem;
		}
		@include desktop {
			padding: 0 3.5rem;
			display: flex;
			justify-content: space-evenly;
			gap: 1rem;
			line-height: 1.75rem;
		}
	}
}

.gallery {
	background-color: #FAFAFA;
	padding-bottom: 1rem;
	@include tablet {
		padding: 0 2rem;
	}
	@include desktop {
		padding: 0 6rem;
	}
	&__title {
		padding-top: 1rem;
		font-size: $mobile-font-size;
		line-height: 2rem;
		font-weight: 600;
		text-transform: capitalize;
		@include tablet {
			padding-left: 2rem;
			font-size: $tablet-header-fontsize;
		}
		@include desktop {
			padding-top: 2rem;
			padding-left: 2rem;
		}
	}
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 1rem;
		@include tablet {
			padding-left: 2rem;
			padding-bottom: 2rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: 1.5rem;
		}
		@include desktop {
			padding-bottom: 2rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 1.5rem;
		}
	}
	&__img {
		width: 100%;
		@include tablet{
			width: 30%;
		}
	}
}



.comment {
	padding: 1rem;
}

.commentform{
	width: 100%;
}

.comment__title{
	font-size: 2rem;
	@include tablet{
		padding: 3rem;
		font-weight: 600;
		font-size: 3rem;
	}
	@include desktop{
		padding-left: 6rem;
	}
}

.form__container {
	width: 100%;
	display: flex;
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 0.125rem solid $mercury;
	@include tablet{
		padding-left: 8rem;
		padding-right: 6rem;
		border-top: none;
		width: 100%;
	}
	@include desktop{
		padding: 0 40rem;
		border-top: none;
		width: 100%;
		display: flex;
	}
}

.user__img {
	height: 6rem;
	width: 6rem;
	border-radius: 3rem;
}

.commentform {
	padding-left: 2rem;
	width: 100%;
	@include tablet{
		width: 100%;
	}
}

.form__inputname {
	width: 100%;
	height: 2.5rem;
	border: 0.0625rem solid $mercury;
	border-radius: 0.25rem;
	background-color:  #FAFAFA;
	@include tablet{
		width: 100%;
	}
}
.form__inputcomment {
	width: 100%;
	height: 12rem;
	resize: none;
	border: 0.0625rem solid $mercury;
	border-radius: 0.25rem;
	background-color:  #FAFAFA;
	@include tablet{
		height: 8rem;
		
	}
	
}
::placeholder{
	padding-left: .5rem;
	color: black;
	font-size: 1.25rem;
	font-weight:500;
}

input[type=text] {
	word-wrap: break-word;
	word-break: break-all;
	height: 2.5rem;
}


.form__btn {
	width: 100%;
	height: 2.5rem;
	color: white;
	background-color: #323232;
	border-radius: 0.5rem;
	margin: 1rem 0;
	
}

.reply__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 0.125rem solid $mercury;
	@include tablet{
		padding-left: 8rem;
		padding-right: 6rem;
		border-top: none;
	}
	@include desktop{
		padding: 0 40rem;
		border-top: none;
	}
}

.reply__containerFeed {
	width: 100%;
	padding: 1rem 0;
	display: flex;
	flex-direction: row;
	border-bottom: 0.125rem solid $mercury;
}

.reply__card {
	width: 80%;
	padding-left: 2rem;
	@include tablet{
		width: 100%;
	}
}

.reply__card--top {
	display: flex;
	justify-content: space-between;

	list-style: none;
	margin: 0;
	padding: 0;
	@include tablet{
		display: flex;
		justify-content: space-between;
	}

}
.reply__card--items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	@include tablet{
		display: flex;
		justify-content: space-between;
	}
}

.reply__name{
	font-size: 1.25rem;
	font-weight: 600;
}

.reply__date{
	font-size: 1.25rem;
	color: silver;
}

.reply__card--bottom {
	padding-top: 1rem;
}

.reply__text{
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 2rem;
}